<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.byui.team06.proxialert">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".utils.GeofenceTrasitionService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6krpwrmY6wvLgx31BeleuAChSKA8Oc8k" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".view.tasks.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".view.maps.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".view.tasks.TaskActivity" />
    </application>

</manifest>